
// regular clients
// regular clients
// regular clients

.clients{

}

.clients_pad{
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__customers {
   
    @include manyFlex(flex, wrap, row, space-between, flex-start);
    margin: 0 auto;
   

    @media screen and ( min-width: 768px ) and ( max-width: 1200px) {
        
        @include manyFlex(flex, wrap, row, center, flex-start);
        // border: 2px dashed green;
        max-width: 738px;
    }

    @media screen and (min-width: 1200px) {

        @include manyFlex(flex, wrap, row, space-around, flex-start);
        // border: 2px dashed green;
        max-width: 1200px;
    }

        @media screen and (min-width: 480px) and (max-width: 768px) {
    
        @include manyFlex(flex, wrap, row, center, flex-start);
        // border: 2px dashed green;
        max-width: 480px;
        }

       
}
.clients__icon {
            fill: $silver-icon;
            width: 106px;
            height: 60px;

             transition-property: border, fill;
            transition-duration: var(--tran-dur);
            transition-timing-function: var(--tran-t-fun);
            }
        .clients__regular__item__link:hover .clients__icon {
                  fill: $color-blue;
                }
        .clients__regular__item__link:focus .clients__icon {
            fill: $color-blue;
            outline: none;
        }
        .clients__regular__item:hover {
                border: 1px solid $color-blue;
                }
         .clients__regular__item:focus .clients__regular__item__link{
         border: 1px solid red;
          outline: none;
         }

                        .clients__regular__item__link {
                            width: 170px;
                            height: 92px;
                            display: flex;
                            justify-content: center;
                            border-radius: 4px;
            
                            align-items: center;
            
                           
                            outline: none;
                            
                            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                            
                             }

 .clients__regular__item {

    @include manyFlex(flex, wrap, row, center, center);
    border-radius: 4px;

    border: 1px solid $silver-icon;
    
    // transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

@media screen and (min-width: 1200px){
    
    width: 170px;
    height: 92px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    
    // flex-basis: calc((100% - 90px)/3);
    width: 226px;
    height: 92px;
    margin-right: 30px;
   
    }

@media screen and (max-width: 768px) {

    // flex-basis: calc((100% - 90px)/3);
    width: 210px;
    height: 92px;
    margin-right: 30px;
    background-color: bisque;
}}

 @media screen and (min-width: 768px) and (max-width: 1200px){
 .clients__regular__item:nth-child(3n){
    margin-right: 0px;
    // border: 2px dashed red;

 }
.clients__regular__item:nth-child(n + 4) {
    margin-top: 30px;
}}

@media screen and (min-width: 480px) and (max-width: 768px) {
    

    .clients__regular__item:nth-child(n + 4) {
        margin-top: 0;
    }
}

 @media screen and (max-width: 768px) {
.clients__customers li.clients__regular__item {

        margin-right: 30px;
        background-color: bisque;
    }
.clients__customers li.clients__regular__item:nth-child( n + 3) {

    margin-top: 30px;
}
.clients__customers li.clients__regular__item:nth-child(even) {

    margin-right: 0;
}
}

