// Facebook
// Facebook
// Facebook

%gold {    border: 1px dashed gold;}



.facebook-block {
    // @extend %gold;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.facebook-block__link .icon {
    border-radius: 50px;
    width: 44px;
    height: 44px;
    fill: $silver-icon;

    // transition-property: background-color, fill;
    // transition-duration: var(--tran-dur);
    // transition-timing-function: var(--tran-t-fun);

    transition: 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.facebook-block__link:hover svg {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    fill: $white;
    background-color: $color-blue;
}