
/* header*/
/* header*/
/* header*/

header.header {
   // background-color: rgb(0, 55, 255);
   border-bottom: 1px $silver-gray;
}

.header-box{
   @media screen and ( min-width: 1200px) {
      max-width: 1170px;
      
   }
   
}

 .header_container-position{
   height: 60px;
   position: relative ;
   background-color: $white;
   width: 480px;
   overflow: hidden;

   @media screen and( min-width: 768px){
      height: 80px;
   }
   @media screen and (min-width: 768px) and (max-width: 1200px) {
      width: 768px;
   }
   @media screen and (min-width: 1200px) {
      width: 1200px;
   }
}

     .header__wrap {
      @media screen and (max-width: 768px) { 
         display: none;
      }
      @media screen and (min-width: 768px) and ( max-width: 1200px){
         @include manyFlex(flex, nowrap, row, space-between, center);
         height: 80px
      }
      @media screen and (min-width: 1200px){
         @include manyFlex(flex, nowrap, row, flex-end, center);
         height: 80px      ;
      }
   
   
   }
     
 .header-list__item{
    
 }

 .header-contact__item {
    margin-right: 30px;
 }


 .header-list{
    @include manyFlex(flex, nowrap, row, flex-end, flex-start);

 }
 .header-contact{
      @media screen and ( max-width: 1200px ) {
         @include manyFlex(flex, wrap, column, center, flex-start);
      }
      @media screen and (min-width: 1201px) {
         @include manyFlex(flex, wrap, row, center, flex-start);
      }
   
 }

 .header-contact__item .header-contact__link {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $header-contact-gray;
    padding: 4px 0;
    text-indent: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    transition-property: color;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);

    @media screen and( min-width: 768px ) and ( max-width: 1200px ) {
      padding: 0;
    }
 }

 .header-nav__item .header-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: .02em;
    padding: 29px 0;
    color: #212121;
    text-decoration: none;
    transition-property: color;
    transition-duration: var(--tran-dur);
    transition-timing-function: var(--tran-t-fun);

    @media screen and ( min-width: 768px ) and ( max-width: 1200px){
      padding: 29px 0;
    }
 }

 .header-nav__item a.header-nav_studia::after {
    position: relative;
    top: 29px;
    display: block;
    content: "";
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
 }
 .header-nav__item a.nav_portfolio::after {
    /*portfolio border bottom current page */
    position: relative;
    top: 29px;
    display: block;
    content: "";
    width: 78px;
    height: 4px;
    border-radius: 2px;

    background-color: $color-blue;
 }

 .header-nav__item a:hover,
 .header-nav__item a:focus,
 .header-contact__link:hover,
 .header-contact__link:focus,
 .header-contact__link:hover svg 
  {
    text-decoration: none;
    color: #2196f3;
    fill: #2196f3;
 }
 

 .header-contact__item .header-contact__link:focus svg {
    color: $color-blue;
    fill: $color-blue;
    outline: none;
 }

// Studio Portfolio Contacts

  .header-nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
 .header-contact__item:last-child {
    margin-right: 0;

   @media screen and (min-width: 768px) and (max-width: 1200px) {
      margin-top: 10px;
   }
 }

 .header-nav__item:first-child {
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      margin-left: 230px;
    }
 }

 .header-nav__item {
    margin: 0 25px;
 } 
 .header-nav__item:last-child {
    margin-right: 280px;
@media screen and (min-width: 768px) and (max-width: 1200px) {
   margin-right: 0px;
   }

 }
  .header-nav__wrap {
     display: flex;
    }

 

 .header-contact__icon {
    display: inline-block;
    margin-right: 10px;
    fill: $silver-gray;
    height: 18px;
    width: 18px;
 }
