// main logo
// main logo
// main logo


.main-logo{
    
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 0;
    padding-left: 15px;
    font-family: $font-logo;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: $black;

    @media screen and (min-width: 769px) and ( max-width: 1200px ) {
        
        line-height: 1.19;
        padding: 24px 0;
        padding-left: 15px;
       
        
        
    }
    @media screen and (min-width: 1200px) {

        font-size: 26px;
        padding: 24px 0;
        padding-left: 15px;
}
}
.logo span,
.main-logo span{
    color: $color-blue;
}

.footer-webstudio .main-logo_bottom {

    font-size: 26px;
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: .03em;
    text-decoration: none;
    color: #fff;
}
