// our people
// our people
// our people

.our {
    max-width: 1200px;
}

.our_pad{
    margin: 0 auto;
    padding-top: 94px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: $light-silver;
    @media screen and(max-width: 1200px) {
            max-width: 768px;
            padding-top: 60px;
            padding-bottom: 60px;
        }
    @media screen and(min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
   
}

.our__people {
    @include manyFlex(flex, wrap, row, space-around, flex-start);
    // display: flex;
    // flex-wrap: nowrap;
    // flex-direction: row;
    // justify-content: center;
    // align-items: flex-start;
}

.our__people .our__peopleitem {
    @include manyFlex(flex, wrap, column, center, center);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .12),
     0px 1px 1px rgba(0, 0, 0, .14),
     0px 2px 1px rgba(0, 0, 0, .2);
    border-radius: 0px 0px 4px 4px;

   

    @media screen and(max-width: 768px) {

        @include manyFlex(flex, wrap, row, center, center);
        flex-basis: 100%;
        max-width: 450px;
        margin-top: 30px;
        height: 622px;
        }

        @media screen and(max-width: 480px) {
            height: 470px
        }

        @media screen and(min-width: 768px) and (max-width: 1200px) {
        flex-basis: calc((100% - 60px) / 2);
        max-width: 354px;
        @include manyFlex(flex, wrap, row, center, center);
    }

}

@media screen and(min-width: 767px) and (max-width: 1200px){

.our__peopleitem:not(:nth-child(-n + 2)){
    margin-top: 30px;
   
}}

