
// section


%align{
    border: 1px dashed red;
}
// @extend %align;
.border{
    // border: 2px dashed rgb(106, 141, 1);
}
.container {
    // @include manyFlex(flex, wrap, row, center, flex-start);
        
    margin: 0 auto;
    // padding-left: 15px;
    // padding-right: 15px;
    // background-color: rgb(169, 64, 64);
   
    @media screen and (min-width: 481px){
        // height: 80px;
    }

}

section.section_color{
    background-color: $light-silver;
}

.container__foot{
    @media screen and(min-width: 1200px) {
    display: flex;
    justify-content: space-between;

    width: 1200px;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
   
    }

    @media screen and( min-width: 768px) and ( max-width: 1200px){
    width: 768px;
    
    padding-top: 60px;
    padding-bottom: 60px;
    }
        @media screen and (max-width: 768px) {
            
            padding-top: 60px;
            padding-bottom: 60px;
        }
}

.section {
    // padding-top: 94px;
    // padding-bottom: 94px;
    // border: 2px dashed rgb(128, 85, 0);
       background-color: $white;
    // @media screen and (max-width: 480px) {
    //         display: none;
    //     }
}
.section_solution{
    // @include manyFlex(flex, nowrap, column, center, flex-start);
    padding: 0;
}

.container_attention{

    @media screen and( max-width: 1200px) {
        padding-bottom: 60px;
        padding-top: 60px;
    @include manyFlex(flex, nowrap, row, center, flex-start);

    //    display: flex;
    //    flex-wrap: nowrap;;
    //    flex-direction: row;
    //    justify-content: center; 
    //    align-items: flex-start;
    //    
    }

    @media screen and( min-width: 1200px ) {
    padding-top: 94px;
    padding-bottom: 94px;
}}

// .solutions__back {
//     max-width: 1600px;
//     padding: 198px 0;
//     margin-left: auto;
//     margin-right: auto;

//     background-image:
//         linear-gradient(to bottom,
//             rgba(58, 50, 47, 0.4),
//             rgba(47, 48, 58, 0.4)),
//         url("../images/img.jpg");
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
// }