
// section


%align{
    border: 1px dashed red;
}
// @extend %align;
.border{
    // border: 2px dashed rgb(106, 141, 1);
}
.container {
    // @include manyFlex(flex, wrap, row, center, flex-start);
        
    margin: 0 auto;
    width: 100%;
   
    @media screen and (max-width: 480px){
    width: 320px;
    }

}

section.section_color{
    background-color: $light-silver;
}

.container__foot{
    @media screen and(min-width: 1200px) {
    display: flex;
    justify-content: space-between;

    width: 1200px;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
   
    }

    @media screen and( min-width: 768px) and ( max-width: 1200px){
    width: 768px;
    
    padding-top: 60px;
    padding-bottom: 60px;
    }
        @media screen and (max-width: 768px) {
            
            padding-top: 60px;
            padding-bottom: 60px;
        }
}

.section {
    // padding-top: 94px;
    // padding-bottom: 94px;
    // border: 2px dashed rgb(128, 85, 0);
       background-color: $white;
    // @media screen and (max-width: 480px) {
    //         display: none;
    //     }
}
.section_solution{
    // @include manyFlex(flex, nowrap, column, center, flex-start);
    padding: 0;
}

.container_attention{

    @media screen and( max-width: 1200px) {
        padding-bottom: 60px;
        padding-top: 60px;
    @include manyFlex(flex, nowrap, row, center, flex-start);

    //    display: flex;
    //    flex-wrap: nowrap;;
    //    flex-direction: row;
    //    justify-content: center; 
    //    align-items: flex-start;
    //    
    }

    @media screen and( min-width: 1200px ) {
    padding-top: 94px;
    padding-bottom: 94px;
}}


