// small menu
// small menu
// small menu

.header-humburger {
    height: 40px;
    width: 40px;
    // border: 1px solid black;
    cursor: pointer;
    fill: $black-for-logo;
    box-shadow: none;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-humburger:focus,
.header-humburger:hover {
    fill: $color-blue;
    outline: none;
}

.menu-toggle{
    position: absolute;

    height: 40px;
    width: 40px;
    top: 10px;
    right: 15px;
    // hamburger is hidden
    background-color: transparent;
@media screen and (min-width: 768px) {  
    display: none;
}}

.menu-container {
   
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px; 
    background-color: $white;
    z-index: 99;
    transform: translateX(150%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
    transform: translate(0);
    
}

.menu__iconclose {
    position: absolute;
    top: 1px;
    right: 1px;
    margin: 5px 5px;
    margin-left: auto;
    width: 30px;
    height: 30px;
    fill: $black;
    border-radius: 50%;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.menu__iconclose:focus,
.menu__iconclose:hover {
    
    fill: $color-blue;
    outline: none;
}


.menu-container__list a.menu-container__link{
    
       
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        text-align: center;
        letter-spacing: 0.02em;

        color: $black;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.menu-container__list a.menu-container__link:focus,
.menu-container__list a.menu-container__link:hover {
        color: $color-blue;

}
.menu-container__item {
    margin-bottom: 32px;
   
}
.menu-container__item:last-child {
    margin-bottom: 0;
}

.menu-container__contact-item:first-child .menu-container__contact-link{
        
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $color-blue;
}
.menu-container__contact-item:last-child .menu-container__contact-link {
        margin-top: 42px;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: $silver-gray;
}    
.menu-container__contact-item:last-child {
    margin-top: 32px;
}
.menu-container__social-networks{
    margin-top: 65px;
   
    @include manyFlex(flex, wrap, row, flex-start, flex-start);
}
.menu-container__instagram{
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding: 0 10px;
}
.menu-container__instagram:last-child {
    border-right: none;
    padding-right: 0;
}
.menu-container__instagram:first-child {
    padding-left: 0;
}
.menu-container__instagram-link{
           
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
}

.menu-container__contact-list{
    margin-top: 302px;
}