
// variables
// variables
// variables

:root{
--tran-dur: 250ms;
--tran-t-fun: cubic-bezier(0.4, 0, 0.2, 1);
--dominant-font: 'Roboto', sans-serif;
--font-logo: 'Raleway', sans-serif;
--silver-icon: #AFB1B8;
}

 $black-for-logo: #000;
 $color-blue: #2196F3;
 $button-hover: #188CE8;
 $dark-blue: #2F303A;
 $white: #fff;
 $black: #212121;
 $border: #eee;
 $silver-gray: #757575;
 $light-silver: #F5F4FA;
 $header-contact-gray: #757575;
 $silver-icon: #AFB1B8;
 $silver-footer: #FFFFFF99;
 $silver-icon: #AFB1B8;

 $dominant-font: 'Roboto', sans-serif;
 $font-logo: 'Raleway', sans-serif;

 $tran-dur: 250ms;
 $tran-t-fun: cubic-bezier(0.4, 0, 0.2, 1);